ul {
  list-style-type: none;
}

.card-width {
  width: 20rem;
  margin: 1rem;
}

.icon {
  font-size: 15px !important;
  right: 0;
  text-align: right;
}

.margin-footer {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.button {
  background: #ffd741;
  color: white;
  font-size: 12px;
  float: right;
}

.width-full {
  width: 100%;
}

.height-button {
  height: 3rem;
}
